[submodule "recomp-ui"]
	path = recomp-ui
	url = https://github.com/ExtremestoneGG/recomp-ui.git
	branch = full-emerald
[submodule "gbarecomp"]
	path = gbarecomp
	url = https://github.com/tales92/gbarecomp.git
	branch = fix/config-persistence
